@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #ececec;
  color: #171717;
}

.option {
  @apply hover:bg-blue-gray-100 cursor-pointer px-2 rounded-lg;
}

.ql-toolbar {
  position: sticky;
  top: 21.5vw;
  background-color: white;
  z-index: 1;
  @apply lg:top-24
}

.ql-editor {
  z-index: 0;
  margin-top: 0vw;
  background-color: white;
}

.ql-container {
  position: relative;
}

.borderAnimation:before {
  content: "";
  position: absolute;
  display: block;
  background-color: black;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scaleX(0);
  z-index: -1;
  transition: transform 0.3s ease;
  transform-origin: right;
}

.borderAnimation:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}